# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [35]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,11,size=(6,4)),columns = ['A','B','C','D'])
print("dataframe: ")
print(df)

df.set_index('A',inplace=True)
print("DataFrame with new index:")
df
df

dataframe:
   A   B   C  D
0  2  10   8  8
1  1   3   4  6
2  3   9   3  3
3  4   5   4  6
4  3   9   5  5
5  8   5  10  3
DataFrame with new index:

    B   C  D
A
2  10   8  8
1   3   4  6
3   9   3  3
4   5   4  6
3   9   5  5
8   5  10  3

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [36]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1,11,size=(3,3)),columns = ['A','B','C'], index = ['X','Y','Z'])
print(df)

element = df.at['Y','B']
print('element is: ',element)

   A  B  C
X  4  2  9
Y  8  1  7
Z  2  3  7
element is:  1

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [37]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,11,size=(5,3)),columns=['A','B','C'],index=['p','Q','R','S','T'])
print(df)

df['pdt'] = df['A'] * df['B']
print("new dataframe is: \n",df)

   A   B   C
p  6   1  10
Q  4   5   7
R  9   9  10
S  3   7  10
T  5  10   4
new dataframe is:
    A   B   C  pdt
p  6   1  10    6
Q  4   5   7   20
R  9   9  10   81
S  3   7  10   21
T  5  10   4   50

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [ ]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,11,size=(4,3)),columns=['A','B','C'],index=['P','Q','R','S'])
print(df)

row_sum=np.sum(df,axis=1)
print("row wise sum is:\n",row_sum)

column_sum=np.sum(df,axis=0)
print("column wise sum is:\n",column_sum)

   A  B   C
P  8  2   7
Q  8  4  10
R  9  6   6
S  3  6   1
row wise sum is:
 P    17
Q    22
R    21
S    10
dtype: int64
column wise sum is:
 A    28
B    18
C    24
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [54]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers

df =pd.DataFrame(np.random.randint(1,11,size=(5,3)),columns=['A','B','C'],index=['P','Q','R','S','T'])
print(df)
df.iloc[1,2] = np.nan
df.iloc[4,2] = np.nan
df.iloc[4,1] = np.nan
print("matrix with nan value:\n",df)

df.fillna(df.mean(),inplace=True)
print("filled NAN values dataframe:\n",df)

   A  B  C
P  4  6  3
Q  7  6  5
R  7  2  5
S  2  4  8
T  1  4  1
matrix with nan value:
    A    B    C
P  4  6.0  3.0
Q  7  6.0  NaN
R  7  2.0  5.0
S  2  4.0  8.0
T  1  NaN  NaN
filled NAN values dataframe:
    A    B         C
P  4  6.0  3.000000
Q  7  6.0  5.333333
R  7  2.0  5.000000
S  2  4.0  8.000000
T  1  4.5  5.333333

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [ ]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,11,size=(6,4)),columns=['A','B','C','D'],index=['P','Q','R','S','T','U'])
print(df)

df.iloc[2,3] = np.nan
df.iloc[5,2] = np.nan
df.iloc[4,1] = np.nan
df.iloc[2,2] = np.nan
print("NAN introduced matrix:\n",df)

df.drop('R',inplace=True)
df

   A  B   C  D
P  6  5  10  1
Q  9  7   4  7
R  9  9   2  4
S  1  8   1  2
T  5  6   4  5
U  7  6   9  8
NAN introduced matrix:
    A    B     C    D
P  6  5.0  10.0  1.0
Q  9  7.0   4.0  7.0
R  9  9.0   NaN  NaN
S  1  8.0   1.0  2.0
T  5  NaN   4.0  5.0
U  7  6.0   NaN  8.0

   A    B     C    D
P  6  5.0  10.0  1.0
Q  9  7.0   4.0  7.0
S  1  8.0   1.0  2.0
T  5  NaN   4.0  5.0
U  7  6.0   NaN  8.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [ ]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'

df = pd.DataFrame({'category':np.random.choice(['A','B','C'],size=10),'Value':np.random.randint(1,100,size=(10))})
print("DataFrame is:\n",df)

grouped = df.groupby('category')['Value'].agg(['sum','mean'])
print("grouped dataframe:\n",grouped)

DataFrame is:
   category  Value
0        B     48
1        C     83
2        B     21
3        B     94
4        C      2
5        C     25
6        C     30
7        C     10
8        C     41
9        C     25
grouped dataframe:
           sum       mean
category
B         163  54.333333
C         216  30.857143

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [ ]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'product':np.random.choice(['prdt1','prdt2','prdt3'],size=6),'Category':np.random.choice(['A','B','C'],size=6),'Sales':np.random.randint(1,1000,size=6)})
print("DataFrame:\n",df)

group = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:\n",group)

DataFrame:
   product Category  Sales
0   prdt1        A    902
1   prdt3        A    560
2   prdt2        C    952
3   prdt1        C    247
4   prdt1        B    656
5   prdt2        A    507
Grouped DataFrame:
 Category
A    1969
B     656
C    1199
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [ ]:
#Create two Pandas DataFrames with a common column

df1 = pd.DataFrame({'key':['A','B','C','D'],'value': np.random.randint(1,100,size=4)})
df2 = pd.DataFrame({'key':['A','B','C','E'],'value': np.random.randint(1,100,size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merge = pd.merge(df1,df2, on='key')
print("mergerd dataframe:\n",merge)

DataFrame 1:
  Key  Value1
0   A      57
1   B      91
2   C       6
3   D      25
DataFrame 2:
  Key  Value2
0   A       6
1   B      56
2   C      81
3   E      45
Merged DataFrame:
  Key  Value1  Value2
0   A      57       6
1   B      91      56
2   C       6      81

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [ ]:
# Create two Pandas DataFrames with different columns

df1 = pd.DataFrame({'A':np.random.randint(1,100,size=3),'B':np.random.randint(1,100,size=3)})
df1 = pd.DataFrame({'C':np.random.randint(1,100,size=3),'D':np.random.randint(1,100,size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_row = pd.concat([df1,df2],axis=0)
print("Dataframe after row concatination:\n",concat_row)

concat_col = pd.concat([df1,df2],axis=1)
print("Dataframe after col concatination:\n",concat_col)

DataFrame 1:
    C   D
0  13  59
1  84  61
2  55  27
DataFrame 2:
    C   D
0  47  68
1   7  25
2  32  32
Dataframe after row concatination:
     C   D
0  13  59
1  84  61
2  55  27
0  47  68
1   7  25
2  32  32
Dataframe after col concatination:
     C   D   C   D
0  13  59  47  68
1  84  61   7  25
2  55  27  32  32

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [ ]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [ ]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [ ]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [ ]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [ ]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [ ]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [ ]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [ ]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [ ]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [ ]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)