#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [9]:
## Create a Table
cursor.execute('''
create table if not exists Employee(
    name text not null,
    age integer,
    department text
    )
''')
connection.commit()

In [8]:
cursor.execute('''
Select * from employees
    
''')

In [16]:
## Insert the data in sqlite table
cursor.execute('''
Insert into employees(name,age,department)
values('Aniroodh',21,'Ml')
''')

cursor.execute('''
Insert into employees(name,age,department)
values('Abhighyan',19,'c++')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

connection.commit()

In [17]:
## Query the data from the table
cursor.execute('select* from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Krish', 32, 'Data Scientist')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')
(7, 'Aniroodh', 21, 'Ml')
(8, 'Aniroodh', 21, 'Ml')
(9, 'Abhighyan', 19, 'c++')
(10, 'Charlie', 35, 'Finance')
(11, 'Aniroodh', 21, 'Ml')
(12, 'Abhighyan', 19, 'c++')
(13, 'Charlie', 35, 'Finance')

In [18]:
## Update the data in the table


cursor.execute('''
update employee 
set age = 22
where name='Aniroodh'
''')
connection.commit()

In [ ]:
## Query the data from the table

cursor.execute('select* from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Krish', 32, 'Data Scientist')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')
(7, 'Aniroodh', 21, 'Ml')
(8, 'Aniroodh', 21, 'Ml')
(9, 'Abhighyan', 19, 'c++')
(10, 'Charlie', 35, 'Finance')
(11, 'Aniroodh', 21, 'Ml')
(12, 'Abhighyan', 19, 'c++')
(13, 'Charlie', 35, 'Finance')

In [21]:
## Delete the data from the table

cursor.execute('''
delete from employees 
where name = 'Aniroodh'
''')
connection.commit()

In [22]:
## Query the data from the table


cursor.execute('select* from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Krish', 32, 'Data Scientist')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')
(9, 'Abhighyan', 19, 'c++')
(10, 'Charlie', 35, 'Finance')
(12, 'Abhighyan', 19, 'c++')
(13, 'Charlie', 35, 'Finance')

In [25]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
connection
cursor = connection.cursor()

cursor.execute('''
create table if not exists sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT)
''')
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
insert into sales(date,product,sales,region)
values(?,?,?,?)
''',sales_data)

connection.commit()

In [27]:
# Query data from the sales table
cursor.execute('select* from sales')
rows = cursor.fetchall()

for row in rows:
    print(rows)

[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]
[(1, '2023-01-01', 'Product1', 100, 'North'), (2, '2023-01-02', 'Product2', 200, 'South'), (3, '2023-01-03', 'Product1', 150, 'East'), (4, '2023-01-04', 'Product3', 250, 'West'), (5, '2023-01-05', 'Product2', 300, 'North'), (6, '2023-01-01', 'Product1', 100, 'North'), (7, '2023-01-02', 'Product2', 200, 'South'), (8, '2023-01-03', 'Product1', 150, 'East'), (9, '2023-01-04', 'Product3', 250, 'West'), (10, '2023-01-05', 'Product2', 300, 'North')]

In [28]:
## close the connection

connection.close()

In [22]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

In [ ]:
# working with sqlite3 in python

# first of all import the sqlite3. already downloaded

1) create a connection
# connection = sqlite3.connect('database_name')
# connection

2) create a cursor that will iterate across the whole table
# cursor = connection.cursor()

3) create various field for inserting elements --> write sql command for creating various fields
4) insert the data element

for normal insertion --> #cursor.execute()
for bulk insertion --> #cursor.executemany()
    
5) to perform all the command you shoul write 
#cursor.execute()

6) to fetch all data and to execute you need command --> #row = cursor.fetchall()

6) after every operation you perform you should write this command for sucessfull execution
# connection.commit() 

7) At last to close all --> # connection.close()