# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [39]:
import sqlite3
def create_database():
    connection = sqlite3.connect('employee.db')
    connection
    # connection.close()
    print("database created scuessfuly and connected")

create_database()

database created scuessfuly and connected

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [40]:

def create_table():
    connection = sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()
    cursor.execute('''
        create table if not exists employees(
            id integer primary key,
            name text not null,
            age integer,
            department text
        )
    ''')

    connection.commit()
    print("Table created sucessfully")

create_table()

Table created sucessfully

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [41]:
def insert_employees(id, name, age, department):
    connection = sqlite3.connect('employee.db')
    connection
    # connection.close()
    # print("database created scuessfuly and connected")
    cursor = connection.cursor()

    # cursor.execute('''
    #     create table if not exists employees(
    #         id integer primary key,
    #         name text not null,
    #         age integer,
    #         department text
    #     )
    # ''')

    # print("Table created sucessfully")

    cursor.execute('''
    insert into employees(id, name, age, department)
    values(?,?,?,?)
    ''', (id, name, age, department))
    connection.commit()
    print("Employee inserted sucessfully")


insert_employees(1, 'Alice', 30, 'HR')

Employee inserted sucessfully

2. Insert at least 5 different employees into the `employees` table.

In [42]:
# Insert 5 different employees
insert_employees(2, 'Bob', 25, 'Engineering')
insert_employees(3, 'Charlie', 28, 'Sales')
insert_employees(4, 'David', 35, 'Marketing')
insert_employees(5, 'Eve', 22, 'HR')

Employee inserted sucessfully
Employee inserted sucessfully
Employee inserted sucessfully
Employee inserted sucessfully

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [ ]:
def fetch_data():
    connection = sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()
    cursor.execute('select*from employees')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

fetch_data()

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

2. Write a Python function to fetch and display all employees from a specific department.

In [ ]:
def fetch_employee_department(department):
    connection = sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()
    cursor.execute('select * from employees where department = ?',(department,))
    rows = cursor.fetchall()
    for row in rows:
        print(row)

fetch_employee_department('HR')

(1, 'Alice', 30, 'HR')
(5, 'Eve', 22, 'HR')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [57]:
def update_value(new_department,id):
    connection =sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()

    cursor.execute('update employees set department = ? where id =?',(new_department,id))
    connection.commit()
    cursor.execute('select* from employees')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

update_value('Finance',3)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Finance')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

2. Update the department of at least 2 employees and display the updated records.

In [ ]:
# Update the department of 2 employees
update_value('Finance',3)
update_value('Research',1)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Finance')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(1, 'Alice', 30, 'Research')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Finance')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [ ]:
def delete_record(id):
    connection = sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()
    cursor.execute('delete from employees where id = ?', (id,))
    connection.commit()
    cursor.execute('select *from employees')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

delete_record(3)

(1, 'Alice', 30, 'Research')
(2, 'Bob', 25, 'Engineering')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

2. Delete at least 1 employee and display the remaining records.

In [61]:
# Delete an employee
delete_record(4)

# # Fetch and display all records
# fetch_all_employees()

(1, 'Alice', 30, 'Research')
(2, 'Bob', 25, 'Engineering')
(5, 'Eve', 22, 'HR')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [64]:
def employee_age(age):
    connection = sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()
    cursor.execute('select * from employees where age > ?',(age,))
    connection.commit()
    rows = cursor.fetchall()
    for row in rows:
        print(row)

employee_age(25)

(1, 'Alice', 30, 'Research')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [ ]:
def employee_name(letter):
    connection = sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()
    cursor.execute('select * from employees where name like ?',(letter + '%',))
    connection.commit()
    rows = cursor.fetchall()
    for row in rows:
        print(row)

employee_name('A')

(1, 'Alice', 30, 'Research')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [86]:
def insert_employee(emp):
    connection = sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()

    try:
        cursor.executemany('''
        insert or ignore into employees(id,name,age,department) 
        values(?,?,?,?)
        ''',emp)
        connection.commit()
        cursor.execute('select * from employees')
        rows = cursor.fetchall()
        for row in rows:
            print(row)
        
        print("all employees are inserted")
    except Exception as e:
        connection.rollback()
        print("an error occured")
        print(e)
    finally:
        connection.close()

emp = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Loni', 10, 'kid'),

]
insert_employee(emp)

(1, 'Alice', 30, 'Research')
(2, 'Bob', 25, 'Engineering')
(5, 'Eve', 22, 'HR')
(6, 'Frank', 40, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 38, 'Sales')
all employees are inserted

 2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [96]:
def age_update(updates):
    connection = sqlite3.connect('employee.db')
    connection
    cursor = connection.cursor()

    try:
        cursor.executemany('update employees set age = ? where id = ?',updates)
        connection.commit()
        rows = cursor.execute('select* from employees')
        for row in rows:
            print(row)
    except Exception as e:
        connection.rollback()
        print("an error occured")
        print(e)
    finally:
        connection.close()

updates = [
    (32,1),
    (26,2),
    (34,6),
    (44,5),
    (23,9),

]
age_update(updates)

(1, 'Alice', 32, 'Research')
(2, 'Bob', 26, 'Engineering')
(5, 'Eve', 44, 'HR')
(6, 'Frank', 34, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 23, 'Sales')

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [ ]:
connection = sqlite3.connect('employee.db')
connection
cursor = connection.cursor()
cursor.execute('''
    create table if not exists departments(
        id integer primary key,
        name text not null
    )
''')
dep =[
    (101, 'CSE'),
    (102, 'ECE')
]
cursor.executemany('insert into departments(id, name) values(?,?)', dep)
connection.commit()
cursor.execute('select * from departments')
rows = cursor.fetchall()
for row in rows:
    print(row)

(101, 'CSE')
(102, 'ECE')

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [ ]:
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

# Test the function
add_department_foreign_key()

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [ ]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [ ]:
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [ ]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('A')

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [ ]:
import shutil

def backup_database():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [ ]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

# Test the function
restore_database()