# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [ ]:
#TUPLE COMPREHENSION DOES NOT EXIST.......
'''
but we can convert string to tuple and vice versa. so we first created a
tuple and then converted it into a string'
'''

tup = tuple([i for i in range(1,11)])
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [39]:
print(f"First element: {tup[0]}")
print(f"Middle element: {tup[len(tup) // 2]}")
print(f"Last element: {tup[-1]}")
x = len(tup)
print(f"lenght:{x}")

First element: 1
Middle element: 6
Last element: 10
lenght:10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [41]:
print(f"First three elements: {tup[:3]}")
print(f"Last three elements: {tup[-3:]}")
print(f"Elements from index 2 to 5: {tup[2:6]}")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [49]:
tup_m = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for i in tup_m:
    for j in i:
        print(j, end = " ")
print()        
x = tup_m[1][2]
print(f"the element at the second row and third column: {x}")

1 2 3 4 5 6 7 8 9
the element at the second row and third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [51]:
tup1 = (1,2,3)
tup2 = (4,5,6)
res_tup = tup1+tup2
print(res_tup)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [63]:


tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
pack = (1, 2, 3, 4, 5)
a, b, c, d, e = pack
print(a, b, c, d, e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [61]:
x = tuple([1,2,3,4,5])
print(x)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tup_of_tups = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tup_of_tups)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [64]:
tup = (1,2,3,4,5)
lst = list(tup)
lst.append(6)
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [67]:
# tup = ('a','b','c')  --> always in conversion of tuple to string we use .join
# str = string(tup)
# print(str)

tup = ('a', 'b', 'c')
s = ''.join(tup)  # Joins elements without spaces
print(s)  # Output: "abc"

abc

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [ ]:
tup_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tup_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
nested_tup = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tup in nested_tup:
    for elem in tup:
        print(elem)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [70]:
tup = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tup)
print(unique_set)

TypeError: 'set' object is not callable

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
def min_in_tuple(tup):
    return min(tup)

def max_in_tuple(tup):
    return max(tup)

def sum_of_tuple(tup):
    return sum(tup)

sample_tup = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tup)}")
print(f"Maximum: {max_in_tuple(sample_tup)}")
print(f"Sum: {sum_of_tuple(sample_tup)}")

Minimum: 1
Maximum: 5
Sum: 15

In [ ]:
#LIST, SET AND DICTIONARY COMPREHENSION ONLY EXIST 
#NO STRINGS AND TUPLE COMPRHENSION DOES NOT EXIST

#IMMUTABLE--> STRING, TUPLE
#MUTTABLE--> LIST, DICTIONARY, SET

#in dictionary keys are immutble but values are muttable